<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Test</title>
    <style type="text/css">
        .me {
            color: green;
        }

        .server {
            color: red;
        }
    </style>
</head>
<body ng-app="test">
<div ng-controller="TestCtrl">
    <input type="text" ng-model="message" enter-submit="send(message)" />
    <button ng-click="send(message)">Send</button>
    <br />
    <div ng-repeat="m in messages track by $index">  
        <msg message="m"></msg>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>
